<a href="https://colab.research.google.com/github/eduguzmanr/Portfolio/blob/main/ProjectOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Loading** **Data**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
netflix = pd.read_csv("data (1).csv")

In [ ]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7777 entries, 0 to 7776
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7777 non-null   int64
 1   show_id            7777 non-null   object
 2   type               7777 non-null   object
 3   title              7777 non-null   object
 4   director           5398 non-null   object
 5   cast               7059 non-null   object
 6   country            7271 non-null   object
 7   rating             7770 non-null   object
 8   release_year       7777 non-null   int64
 9   year_added         7777 non-null   int64
 10  duration_min       5377 non-null   float64
 11  number_of_seasons  2400 non-null   float64
 12  listed_in          7777 non-null   object
 13  description        7777 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 850.7+ KB

## **Exercise One**

### 1. How many movie titles mention the  United States?

In [ ]:
 count = 0
 for i in netflix["title"]:
   if "United States" in i:
    count = count + 1
    #print(str(count), " ",i)
   else:
      continue
print("There are ", str(count)," movie titles that mentions the United States")

There are only  2  movie titles that mentions the United States

### 2. How many movie descriptions mention the United States?

In [ ]:
 desc = 0
 for i in netflix["description"]:
   if "United States" in i:
    desc = desc + 1
    #print(str(desc), " ",i)
   else:
      continue
print("There are ", str(desc)," movie descriptions that mentions the United States")

There are  5  movie descriptions that mentions the United States

### 3. How many movies are from the United States?

In [ ]:
title = 0
for f in netflix["country"]:
  if isinstance(f, str):
    if "United States" in f:
      title = title + 1
      #print(str(title), " ",i)
    else:
      continue
print("There are ", str(title)," movies from the United States")

There are  3291  movies from the United States

##**Exercise Two**

### Write a function to receive any name as input, search the director only and return the number of movies/TV shows that contain that name.

In [ ]:
def director(name):
  count = 0
  for i in netflix["director"]:
    if isinstance(i, str):
      if name.lower() in i.lower():
        count = count + 1
      else:
        continue
  
  if count >= 1:
    print("There are ", str(count), " directors named ", name, " in this dataset.")
  else:
    print("No directors were found with the name: ", name)

In [ ]:
director("Paul")

There are  67  directors named  Paul  in this dataset.

## **Exercise Three**

### Identify the most common words in the description of TOP TEN LONGEST MOVIES ONLY from the dataset.

In [ ]:
# Finding the top 10 longest movies

netflix_sorted = netflix.sort_values(
    by = "duration_min",
    ascending = False
)


netflix_ranked = netflix_sorted.head(10).copy()

In [ ]:
# Adding all description's words into 1 list

word_list = []
for i in netflix_ranked["description"]:
   word_list.append(i.split())

word_flat_list = []
for lists in word_list:
  for word in lists:
    word_flat_list.append(word)

print(word_flat_list)

['A', 'high', 'school', 'teacher', 'volunteers', 'to', 'transform', 'five', 'notorious', 'misfits', 'into', 'model', 'students', '—', 'and', 'has', 'unintended', 'results.', 'Hoping', 'to', 'prevent', 'their', 'father', 'from', 'skipping', 'town', 'with', 'his', 'mistress,', 'four', 'rowdy', 'siblings', 'resort', 'to', 'absurd', 'measures', 'to', 'stop', 'him.', 'A', 'widower', 'believes', 'he', 'must', 'marry', 'off', 'his', 'three', 'problematic', 'daughters', 'before', 'he', 'can', 'pursue', 'his', 'real', 'goal', 'of', 'marrying', 'his', 'secret', 'love.', 'When', 'robberies', 'and', 'murders', 'targeting', 'women', 'sweep', 'early', '20th-century', 'Egypt,', 'the', 'hunt', 'for', 'suspects', 'leads', 'to', 'two', 'shadowy', 'sisters.', 'Based', 'on', 'a', 'true', 'story.', 'Returning', 'home', 'from', 'war', 'after', 'being', 'assumed', 'dead,', 'a', 'pilot', 'weds', 'the', 'woman', 'he', 'has', 'long', 'loved,', 'unaware', 'that', 'she', 'had', 'been', 'planning', 'to', 'marry', 'his', 'best', 'friend.', 'In', '1890s', 'India,', 'an', 'arrogant', 'British', 'commander', 'challenges', 'the', 'harshly', 'taxed', 'residents', 'of', 'Champaner', 'to', 'a', 'high-stakes', 'cricket', 'match.', 'In', '16th-century', 'India,', 'what', 'begins', 'as', 'a', 'strategic', 'alliance', 'between', 'a', 'Mughal', 'emperor', 'and', 'a', 'Hindu', 'princess', 'becomes', 'a', 'genuine', 'opportunity', 'for', 'true', 'love.', 'Hit', 'man', 'Frank', 'Sheeran', 'looks', 'back', 'at', 'the', 'secrets', 'he', 'kept', 'as', 'a', 'loyal', 'member', 'of', 'the', 'Bufalino', 'crime', 'family', 'in', 'this', 'acclaimed', 'film', 'from', 'Martin', 'Scorsese.', 'Years', 'after', 'his', 'father', 'disowns', 'his', 'adopted', 'brother', 'for', 'marrying', 'a', 'woman', 'of', 'lower', 'social', 'standing,', 'a', 'young', 'man', 'goes', 'on', 'a', 'mission', 'to', 'reunite', 'his', 'family.', 'Featuring', 'rare', 'concert', 'footage', 'and', 'interviews', 'with', 'legendary', 'musicians,', 'this', 'documentary', 'traces', 'Bob', "Dylan's", 'life', 'story', 'and', 'extraordinary', 'career.']

In [ ]:
# Counting the unique words and putting them into a Dictionary
unique_words = set(word_flat_list)

unique_words_value = []
for words in unique_words :
  unique_words_value.append(word_flat_list.count(words))

word_count = dict(zip(unique_words,unique_words_value))

print(word_count)

{'becomes': 1, 'measures': 1, 'this': 2, 'acclaimed': 1, 'three': 1, 'brother': 1, 'volunteers': 1, 'In': 2, 'strategic': 1, 'she': 1, 'after': 2, 'best': 1, 'widower': 1, 'planning': 1, 'Bob': 1, 'high-stakes': 1, 'love.': 2, 'pursue': 1, 'genuine': 1, 'Returning': 1, 'loyal': 1, 'goal': 1, 'commander': 1, '—': 1, 'kept': 1, 'long': 1, "Dylan's": 1, 'skipping': 1, 'extraordinary': 1, 'with': 2, 'absurd': 1, 'off': 1, 'loved,': 1, 'goes': 1, 'real': 1, 'Martin': 1, 'lower': 1, 'must': 1, 'hunt': 1, 'concert': 1, 'When': 1, 'marry': 2, 'sweep': 1, 'from': 3, '20th-century': 1, 'film': 1, 'footage': 1, 'Hit': 1, 'on': 2, 'stop': 1, 'crime': 1, 'story.': 1, 'his': 8, 'challenges': 1, 'man': 2, 'siblings': 1, 'princess': 1, 'career.': 1, 'before': 1, 'between': 1, 'Sheeran': 1, 'for': 3, 'as': 2, 'into': 1, 'school': 1, 'India,': 2, 'member': 1, 'leads': 1, 'Scorsese.': 1, 'match.': 1, 'interviews': 1, 'five': 1, 'shadowy': 1, '16th-century': 1, 'Mughal': 1, 'been': 1, 'problematic': 1, 'of': 4, 'sisters.': 1, 'their': 1, 'reunite': 1, 'weds': 1, 'legendary': 1, 'social': 1, 'model': 1, 'home': 1, 'alliance': 1, 'a': 11, 'an': 1, 'early': 1, 'resort': 1, 'friend.': 1, 'standing,': 1, 'Featuring': 1, 'town': 1, 'life': 1, 'war': 1, 'harshly': 1, 'marrying': 2, 'what': 1, 'true': 2, 'two': 1, 'unaware': 1, 'British': 1, 'arrogant': 1, 'transform': 1, 'in': 1, 'robberies': 1, 'assumed': 1, 'emperor': 1, 'results.': 1, 'disowns': 1, 'he': 4, 'Based': 1, 'suspects': 1, 'Years': 1, 'woman': 2, '1890s': 1, 'young': 1, 'Hoping': 1, 'at': 1, 'unintended': 1, 'mistress,': 1, 'misfits': 1, 'traces': 1, 'family.': 1, 'opportunity': 1, 'musicians,': 1, 'daughters': 1, 'had': 1, 'pilot': 1, 'A': 2, 'and': 5, 'high': 1, 'Bufalino': 1, 'father': 2, 'begins': 1, 'him.': 1, 'mission': 1, 'students': 1, 'secret': 1, 'targeting': 1, 'can': 1, 'story': 1, 'Champaner': 1, 'family': 1, 'being': 1, 'residents': 1, 'dead,': 1, 'documentary': 1, 'four': 1, 'Hindu': 1, 'that': 1, 'secrets': 1, 'rowdy': 1, 'teacher': 1, 'prevent': 1, 'the': 5, 'looks': 1, 'Egypt,': 1, 'taxed': 1, 'notorious': 1, 'women': 1, 'Frank': 1, 'rare': 1, 'cricket': 1, 'believes': 1, 'back': 1, 'has': 2, 'adopted': 1, 'to': 8, 'murders': 1}

In [ ]:
sort_words = sorted(word_count.items(), key=lambda x: x[1], reverse=True)
count = 0
limit = 20
for i in sort_words:
  if count < limit:
    print(i[0],i[1])
    count = count + 1

a 11
his 8
to 8
and 5
the 5
of 4
he 4
from 3
for 3
this 2
In 2
after 2
love. 2
with 2
marry 2
on 2
man 2
as 2
India, 2
marrying 2

## ** Extra Credit **

### Write a function to receive a cast name as input, search the dataset and return information about that actor from the database

### •	Your function should receive an actor name as an input string and return:

### (1) their average movie duration rounded up to a whole number, and

### (2) a list of their movies from the list.

In [ ]:
def cast(name):
  duration = []
  movies = []
  count = 0
  number = 0
  for i in netflix["cast"]:
    if isinstance(i, str):
      if name.lower() in i.lower():
        duration.append(netflix['duration_min'][count])
        movies.append(netflix['title'][count])
        number = number + 1
      else:
        continue
    count = count + 1
  if number >= 1:
    average = round(np.nanmean(duration))
    print("The average movie duration for cast name: ", name, " is ", str(average))
    print("These are the titles of movies who ", name, " was casted:")
    print(movies)
  else:
    print("No movie found for the artist: ", name)

In [ ]:
cast("LeonardO")

The average movie duration for cast name:  LeonardO  is  96
These are the titles of movies who  LeonardO  was casted:
['14 Cameras', '20 Feet From Stardom', '300 Miles to Heaven', 'A Beautiful Life', 'A Family Reunion Christmas', 'A Haunting at Silver Falls: The Return', 'A Holiday Engagement', 'A Life of Speed: The Juan Manuel Fangio Story', 'A Tale of Love and Darkness', "A Witches' Ball", 'Aagey Se Right', 'Accident', 'Across The Line', 'Afronta! Facing It!', 'Alles ist gut', 'Alphablocks', 'AlphaGo', 'Altered Carbon', 'Always a Witch', 'American Son', 'An Unremarkable Christmas', 'Andhadhun', 'Article 15', 'Ask the StoryBots', 'Attack on Titan', 'Auschwitz: Blueprints of Genocide', 'Automata', 'Avatar: The Last Airbender', 'Backdraft 2', 'BAKI', 'Banana Island Ghost', 'Barça Dreams', 'Barcelona: A Love Untold']